/*
Theme Name: Leighton Law
*/
body{ padding:0; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#757574;}
@font-face {
	font-family: 'Conv_Futura_Medium_BT';
	src: url('fonts/Futura_Medium_BT.eot');
	src: local('?'), url('fonts/Futura_Medium_BT.woff') format('woff'), url('fonts/Futura_Medium_BT.ttf') format('truetype'), url('fonts/Futura_Medium_BT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadProRegular';
	 src: url('fonts/myriadpro-regular-webfont.eot');
     src: url('fonts/myriadpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-regular-webfont.woff') format('woff'),
         url('fonts/myriadpro-regular-webfont.ttf') format('truetype'),
         url('fonts/myriadpro-regular-webfont.svg#MyriadProRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Futura-Book';
	src: url('fonts/Futura-Book.eot');
	src: local('?'), url('fonts/Futura-Book.woff') format('woff'), url('fonts/Futura-Book.ttf') format('truetype'), url('fonts/Futura-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Futura-Bold';
	src: url('fonts/Futura-Bold.eot');
	src: local('?'), url('fonts/Futura-Bold.woff') format('woff'), url('fonts/Futura-Bold.ttf') format('truetype'), url('fonts/Futura-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
img{ border:none}
a{ text-decoration:none; outline:none;}
h1,h2,h3,h4,h5,h6,p,ul{ padding:0; margin:0;}
.bg_outer2{ display:none;}
.bg_outer{ width:100%;/* background:url(images/bg_outer.jpg) top center no-repeat;*/ position:relative; height:872px; overflow:hidden;}
.bg_outer img{ width:100%;}
.mid_cont{ width:1037px; margin:0 auto; position:relative;}
.top_head{ width:100%;/*// float:left;*/ background: url(images/top_bg1.png) repeat-x; position:absolute; left:7px; height:171px; z-index:9999;}
.logo{ float:left; margin-left:10px;}
.clear{ clear:both; line-height:0;}
.right_head{ float:right; padding-top:61px; width:680px;}
.florida_cont{ float:right; margin-bottom:20px;}
.florida_cont h2{ color:#fe680d; font-size:16px; float:left; margin-right:13px; text-transform:uppercase; font-family: 'Roboto', 'sans-serif'; font-weight:normal !important; margin-top:4px;}
.florida_cont h3{ color:#fe680d; font-size:14px; background:url(images/textbg.jpg) no-repeat; padding-left:23px; color:#fff; text-transform:uppercase;  font-family: 'Roboto', 'sans-serif'; float:left; line-height:27px; padding-right:63px; padding-right:60px \0/; *padding-right:60px; margin-right:0px; font-weight:normal;}
@media screen and (-webkit-min-device-pixel-ratio:0){ .florida_cont h3{ color:#fe680d; font-size:14px; background:url(images/textbg.jpg) no-repeat; padding-left:20px; color:#fff; text-transform:uppercase;  font-family: 'Roboto', 'sans-serif'; float:left; line-height:27px; padding-right:54px; margin-right:0px; font-weight:normal;}}
.florida_cont h3 span{ font-family: 'Roboto', 'sans-serif'; font-size:15px; font-weight:bold;}
.nav-area{
position:relative;
z-index:99;
 width:639px; height:45px; float:right; margin-bottom:11px;
}
.nav-area ul{list-style:none; margin:0; padding:0;}
.nav-area ul li{
list-style:none; margin:0; float:left; position:relative; background:url(images/border_nav.png) left 0px no-repeat; line-height:43px; padding:0;
}
.nav-area ul li:first-child{
background:none;
}
.nav-area ul li a {
 font-size:14px; color:#515151; /*font-family: 'Conv_Futura-Book';*/ font-family: 'Roboto', 'sans-serif'; text-transform:uppercase; /*float:left; */text-decoration:none;  padding:0 11px; *padding:0 10px; display:block;  border-right:0px transparent #bbbbba; border-left:0px transparent #bbbbba; border-top:0px transparent #bbbbba;
}
.nav-area li a:hover{
color:#fff; font-size:14px;  background:#005c9b; border-right:0px solid #bbbbba; border-left:0px solid #bbbbba; border-top:0px solid #bbbbba; padding:0 11px;
}
.nav-area li.current-menu-item a{
color:#fff; font-size:14px;  background:#005c9b; border-right:0px solid #bbbbba; border-left:0px solid #bbbbba; border-top:0px solid #bbbbba; padding:0 11px;
}
.nav-area li {position: relative;}
.nav-area ul ul {
display:block; background:#005c9b; position:absolute; top:40px; margin:0; padding:10px 0 10px; width:316px; z-index:800; left:0;
}
.nav-area ul ul ul {
position: absolute;
top: 0;
left: 53%; background:#fff; 
}
.nav-area ul ul {
/*display: none;*/ border-bottom:0px solid #82736b;  border-left:0px solid #82736b;  border-right:0px solid #82736b; background:#005c9b;
}
.nav-area ul ul li {
display:block;  list-style:none; margin:0px 0 0px 0px;  width:315px; line-height:14px; background:none;
}
.nav-area ul ul ul li {
display:block;  list-style:none; margin:0px 0 0px 0px;  width:315px; line-height:14px; background:none;
}

.nav-area ul ul li:last-child {
	border: none !important;
}
.nav-area ul ul li:first-child{
/* background:#dedee0;*/
}
.nav-area ul ul li:hover{ background:#fff; display:block; color:#000000;}
.nav-area ul ul li a{
/*padding:0 20px; */color:#fff; font-size:14px; font-weight:normal; float:left; /*line-height:26px;*/   background:url(images/menu_arrow.png) left 10px no-repeat; margin-left:12px; text-transform:none; padding:10px 0 10px 15px; border-top:#266997 1px solid; width:279px; border-left:0px; line-height:23px;
}
.nav-area ul ul li:first-child a{
/*padding:0 20px; */color:#fff; font-size:14px; font-weight:normal; float:left; /*line-height:26px;*/   background:url(images/menu_arrow.png) left 14px no-repeat; margin-left:12px; text-transform:none; padding:10px 0 10px 15px; border-top:#266997 0px solid; width:279px; border-left:0px; line-height:23px;
}
.nav-area ul ul ul li a{
/*padding:0 20px; */color:#000 !important; font-size:14px; font-weight:normal; float:left; /*line-height:26px;*/   background:url(images/menu_arrow.png) left 10px no-repeat; margin-left:12px; text-transform:none; padding:10px 0 10px 15px; border-top:#f2f2f2 1px solid; width:279px; border-left:0px; line-height:23px; 
}
.nav-area ul ul li.current-menu-item a,.nav-area ul li.current-menu-item ul li a{
/*padding:0 20px; */color:#000; font-size:14px; font-weight:normal; float:left; /*line-height:26px;*/   background:url(images/menu_arrow.png) left 14px no-repeat; margin-left:12px; text-transform:none; padding:10px 0 10px 15px; border-bottom:#266997 1px solid; width:279px; border-left:0px; line-height:23px; border:0px solid red;
}
.nav-area ul ul ul li a:hover{
color:#000 !important;
background:#fff !important; line-height:23px; border-top:#266997 1px solid;
}
.nav-area ul ul li a:hover{
color:#000 !important;
background:#fff !important;
}
.nav-area ul ul ul li a{
color:#fff !important; background:url(images/menu_arrow_grandson.jpg) left 16px no-repeat !important; border-bottom:1px solid #eeeeee;
}
.nav-area ul li.current-menu-item ul li a{
/*padding:0 20px; */color:#fff; font-size:14px; font-weight:normal; float:left; /*line-height:26px;*/   background:url(images/menu_arrow.png) left 10px no-repeat; margin-left:12px; text-transform:none; padding:10px 0 10px 15px; border-bottom:#266997 1px solid; width:279px; border-left:0px; line-height:14px; border:0px solid red;
}

.nav-area ul ul ul li.current-menu-item a{
/*padding:0 20px; */color:#000; font-size:14px; font-weight:normal; float:left; /*line-height:26px;*/   background:url(images/menu_arrow.png) left 10px no-repeat; margin-left:12px; text-transform:none; padding:10px 0 10px 15px; border-bottom:#266997 1px solid; width:279px; border-left:0px; line-height:14px;
}

.nav-area ul ul li.current-menu-item:hover a:hover{
/*padding:0 20px; */color:#fff; font-size:14px; font-weight:normal; float:left; /*line-height:26px;*/   background:url(images/menu_arrow_hover.png) left 10px no-repeat; margin-left:12px; text-transform:none; padding:10px 0 10px 15px; border-top:#266997 1px solid; width:279px; border-left:0px; line-height:14px; border:0px solid red;
}
.nav-area ul ul ul li.current-menu-item:hover a:hover{
/*padding:0 20px; */color:#000; font-size:14px; font-weight:normal; float:left; /*line-height:26px;*/   background:url(images/menu_arrow_hover.png) left 10px no-repeat; margin-left:12px; text-transform:none; padding:10px 0 10px 15px; border-top:#266997 1px solid; width:279px; border-left:0px; line-height:14px; border-bottom:1px solid #eeeeee;
}
.nav-area ul ul ul li a{
color:#000 !important; border-top:#e6e5e5 1px solid !important;
}
.nav-area ul ul ul li:first-child a{
color:#000 !important; border-top:#e6e5e5 0px solid !important;
}

.nav-area ul ul li:first-child a{
width:279px; padding:10px 0 10px 15px;
}
.nav-area ul ul li a:hover{
color:#000; background:url(images/menu_arrow_hover.png) left 10px no-repeat;
}
.nav-area ul ul li:first-child a:hover{
color:#000; background:url(images/menu_arrow_hover.png) left 17px no-repeat !important; width:87%;
}
.nav-area ul ul li:hover a{
color:#000; background:url(images/menu_arrow_hover.png) left 17px no-repeat; border:none; padding:10px 0 10px 15px;
}
.nav-area ul ul li a:hover{
color:#000; background:url(images/menu_arrow_hover.png) left 17px no-repeat !important; border:none; /*padding:10px 0 10px 15px;*/
}
.nav-area ul ul,
.nav-area ul li:hover ul ul,
.nav-area ul ul li:hover ul ul
{display: none;}
.nav-area ul li:hover ul,
.nav-area ul ul li:hover ul,
.nav-area ul ul ul li:hover ul
{display: block;}
/*.....dropdown style.........*/
.slider_wrap{ width:97%; padding:0 0%; /*position:absolute;*/ top:0px;}
.slider_text{ margin-top:55px; width:554px;}
.slider_text h2{ color:#fff; font-size:36px; line-height:47px; font-family: 'Roboto', 'sans-serif'; margin-bottom:37px; background:url(images/slider_textbg_new.png) repeat; padding:5px 5px 5px 9px;}
.slider_text p{ color:#fff; font-size:17px; line-height:18px; font-family: 'Roboto', 'sans-serif'; text-transform:uppercase; margin-bottom:12px;}
.slider_text a{ background:url(images/read_more.png) no-repeat; width:99px; height:31px; line-height:31px; color:#fff; text-align:center; text-transform:uppercase; display:block; font-size:11px; margin-bottom:17px; margin-top:10px;}
.slider_text a:hover{ color:#ccc;}
.social_cont{ width:181px; position:absolute; left:16px; top:500px; z-index:9999;}
.social_cont a img{ width:35px; height:32px;}
.miama_wrap{  width:1037px; background:url(images/shadow2.png) top  center no-repeat; position:absolute; top:532px; z-index:99;}
.left_mim{ float:left; width:329px; padding-bottom:14px; text-align:center; }
.left_mim img{ /*float:left;*/ margin-top:51px;/* margin-left:103px;*/ margin-bottom:15px; width:39px; height:56px; text-align:center;}
.left_mim h2{ font-size:16px; color:#000000; font-weight:normal;/* margin-left:80px;*/ margin-bottom:15px; text-transform:
uppercase; font-family: 'Roboto', 'sans-serif'; }
.left_mim p{ font-size:13px; color:#7a7a7a; line-height:22px; margin-bottom:13px; /*margin-left:78px;*/ }
.left_mim a{ width:78px; line-height:23px; height:23px; color:#fff; font-size:11px; margin-left:124px; background:url(images/view_map.png) no-repeat; display:block; float:left; text-align:center; text-transform:uppercase;}
.left_mim a:hover{ color:#ccc;}
.mid_mim{ float:left; width:330px; background:url(images/mim_border.png) left 0px no-repeat; padding-bottom:14px; text-align:center;}
.mid_mim img{ /*float:left;*/ margin-top:51px; /*margin-left:127px;*/ margin-bottom:15px;  width:39px; height:56px;  text-align:center;}
.mid_mim h2{ font-size:16px; color:#000000; font-weight:normal; /*margin-left:87px;*/ margin-bottom:15px; text-transform:
uppercase; font-family: 'Roboto', 'sans-serif';}
.mid_mim p{ font-size:13px; color:#7a7a7a; line-height:22px; margin-bottom:13px;/* margin-left:89px;*/}
.mid_mim a{ width:78px; line-height:23px; height:23px; color:#fff; font-size:11px; margin-left:133px; background:url(images/view_map.png) no-repeat; display:block; float:left; text-align:center; text-transform:uppercase;}
.mid_mim a:hover{ color:#ccc;}
.left_shadow{ float:left; width:16px; background:url(images/left_shadow.png) no-repeat; height:324px; margin-top:14px;}
.right_shadow{ float:left; width:17px; background:url(images/right_shadow.png) no-repeat; height:324px; margin-top:14px;}
.mim_wrap{ width:1000px; float:left; background:url(images/mim_bg.jpg) repeat-x; margin-top:14px;}
.right_mim_con{ width:321px; float:left; background:url(images/right_mim_bg.jpg) no-repeat; padding-bottom:14px; padding-left:20px; text-align:center;}
.right_mim_con img{  margin-top:30px; margin-left:0px; margin-bottom:4px;  width:94px; height:88px; text-align:center;}
.right_mim_con h2{ font-size:16px; color:#000000; font-weight:normal; margin-left:0px; margin-bottom:8px; text-transform:
uppercase; font-family: 'Roboto', 'sans-serif'; margin-left:0px; text-align:center;}
.right_mim_con p{ font-size:13px; color:#7a7a7a; line-height:22px; margin-bottom:13px; margin-left:0px; text-align:center;}
.right_mim_con a{ width:78px; line-height:23px; height:23px; color:#fff; font-size:11px; margin-left:124px;  background:url(images/view_map.png) no-repeat; display:block; float:left; text-align:center; text-transform:uppercase;}
.right_mim_con a:hover{ color:#ccc;}
.textfeild{ width:245px !important; height:31px !important; border:1px solid #fe680d !important; background:#fff !important; padding:0 10px !important; margin-bottom:16px  !important; margin-left:0px !important; line-height:31px; color:#feb386; font-size:13px;}
.cur_wrap{ width:100%; background:#eaeae8; float:left; position:relative; z-index:999;}
.cur_sli{ width:100%; float:left; margin-top:36px; margin:1px solid;
}
.inersli{ width:964px; float:left; margin-top:12px; margin-bottom:40px;}
.sero_cont{ float:left; width:100%;}
.sero_cont h1{ color:#fe680d; font-size:20px; font-family: 'Roboto', 'sans-serif'; font-weight:bold; margin-left:17px; margin-bottom:18px; }
.sero_cont p{ line-height:27px;  margin-left:17px; margin-right:17px; }
.wrap_watch{ width:100%; float:left; margin-top:21px; padding-bottom:53px;}
.iner_wat{ width:243px; float:left; text-align:center;}
.iner_wat img{ width:239px; height:163px;}
.iner_wat p{ font-size:14px; color:#7a7a7a; line-height:18px; min-height:112px; margin-top:18px;}
.iner_wat a{ background:url(images/video_bg1.png) no-repeat; width:101px; height:23px; line-height:23px; color:#fff; text-align:center; text-transform:uppercase; display:block; font-size:11px; margin-bottom:10px; margin-left:61px;}
.iner_wat a:hover{ color:#ccc;}
.iner_wat2{ width:192px; float:left; text-align:center; }
.iner_wat2 img{ width:190px; height:181px;}
.iner_wat2 p{ font-size:14px; color:#7a7a7a; line-height:18px; min-height:131px;}
.iner_wat2 a{ background:url(images/video_bg1.png) no-repeat; width:101px; height:23px; line-height:23px; color:#fff; text-align:center; text-transform:uppercase; display:block; font-size:11px; margin-bottom:10px;  margin-left:51px;}
.iner_wat2 a:hover{ color:#ccc;}
.text_link{ font-size:16px; color:#fe680d;}
.gap1{ margin-left:34px; margin-right:15px;}
.gap2{margin-right:15px;}
.gap3{ margin-left:0px; margin-right:0px;}
.gap4{ margin-left:0px; margin-right:0px;}
.shadow4{ width:100%; background:url(images/shadow4.png) top center no-repeat; height:29px;}
/*...........................slider style........................*/
.slider{ width:100%; margin:15px 0;}
.bigbox{
width:100%;
height:88px;
 position:relative;
 margin:0 auto;
}
.masker{
width:876px;
height:80px;
 position:relative;
 overflow:hidden;
 margin:0 auto;
}
.imageChain{
position:absolute;
width:878px;
height:129px;
}
.cycle-slideshow{ position:relative;
width:880px;
height:88px;}
.ele{
	/*width:181px;
	padding:0 3px 0 3px ;*/
	position:relative;
	/*float:left;	*/
	text-align:center;
	    *display:inline !important ;
		/*border-right:1px solid #9F0;*/
		background:url(images/slider_border.jpg) right 10px no-repeat;
}
.ele img{
	width:165px;
}
.imageChain ul{
	padding:0; margin:0;
}
.imageChain ul li{
	padding:0px 4px; /*padding:0px;*/ display:block; float:left;  height:84px; background:url(images/slider_border.jpg) left 14px no-repeat; width:181px;
}
.imageChain ul li:first-child{ background:none; padding:0 0 0 0;}
.next{
background:url(images/right_arrow.png) no-repeat;
width:18px;
height:29px;
left:935px;
cursor:pointer;
position:absolute;
top:26px;
cursor::pointer;
z-index:0;
}
.prev{
width:18px;
height:29px;
cursor:pointer;
position:absolute;
top:26px;
cursor::pointer;
z-index:0;	
background:url(images/left_arrow.png) no-repeat;
left:3px;
}
/*-------------------------------*/
#bg-shadow {
	width:2000px;
	height:2000px;
	background:#000;
	position:fixed;
	top:0px;
	left:0px;
}
#img-container {
	width:250px;
	position:absolute;
	background-color:#fff;
	padding:10px;
	top:10px;
	-moz-box-shadow: 2px 2px 10px #000000;
	-webkit-box-shadow: 2px 2px 10px #000000;
}
#imagebox {
	width:250px;
	height:250px;
	overflow:hidden;
}
.img-cotroller {
	position: absolute;
	width:250px;
	margin-top:100px;
}
#loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#prevLink {
	left: 0;
	float: left;
}
#nextLink {
	right: 0;
	float: right;
}
#prevLink:hover, #prevLink:visited:hover {
	background:url(images/prevlabel.gif) left 15% no-repeat;
}
#nextLink:hover, #nextLink:visited:hover {
	background: url(images/nextlabel.gif) right 15% no-repeat;
}
#img_text {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	float:left;
	line-height:24px;
}
#Close {
	width: 66px;
	float: right;
	padding-top:5px;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.mid_cont1{ width:1000px; margin:0 auto; position:relative;}
.footer_ou{ width:100%;}
.footer{ width:100%; float:left; margin-top:0px; background:url(images/shadow4.png) top center no-repeat; padding-top:47px; padding-bottom:49px;}
.foot_left{ float:left; width:709px; }
.foot_left1{ float:left;}
.foot_left1 ul{ padding:0; margin:0;}
.foot_left1 ul li{ color:#575757; font-size:11px; background:url(images/footer_border.jpg) left 0px no-repeat; padding:0 6px; display:block; float:left;}
.foot_left1 ul li:first-child{ background:none;}
.foot_left1 ul li a{ color:#575757; font-size:11px;}
.foot_left1 ul li a:hover{ color:#000;}
.foot_left2{ float:left; margin-top:10px;}
.foot_left2 ul{ padding:0; margin:0;}
.foot_left2 ul li{ color:#575757; font-size:11px; background:url(images/footer_border.jpg) left 0px no-repeat; display:block; float:left; padding:0 10px;}
.foot_left2 ul li:first-child{ background:none;}
.foot_left2 ul li a{ color:#575757; font-size:11px;}
.foot_left2 ul li a:hover{ color:#000;}
.footer_right{ width:196px; float:right; margin:0px 0px 0 0 ;}
.right_contant_new{ position:fixed; right:0; top:150px; width:35px; height:300px; z-index:99999;}
<!--............style added..........-->
.flexslider{ width:100% !important;}
.flexslider img{ width:1599px !important; height:872px !important;}
.metaslider{ width:100% !important;}
.metaslider .caption-wrap {
    background: none !important ;
    bottom: 678px !important;
    color: white;
    display: block;
    /*left: 164px !important;*/
	left: 0 !important;
    line-height: 30px;
    margin: 0 auto !important;
    opacity: 1 !important;
    position: relative !important;
    width: 1000px !important;
}
.flex-control-nav {
    bottom: 680px !important;
	z-index:9999;
    position: relative !important;
    text-align: left !important;
    width: 1000px !important;
	 /*left: 179px !important;*/
	left:0 !important;
}
.flex-control-paging li a {
    background:url(images/dot.png) no-repeat !important;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
    cursor: pointer;
    display: block;
    height: 11px;
    text-indent: -9999px;
    width: 13px;
}
.flex-control-paging li a.flex-active {
      background:url(images/dot_active.png) no-repeat !important;
    cursor: default;
}
.metaslider .caption {
    padding: 0px 0px !important;
}
.right_mim_con_btn {
    background: url(images/view_map.png) no-repeat !important;
    border: 0 none;
    color: #FFFFFF !important;
    cursor: pointer !important;
    display: block !important;
    /*float: left;*/
    font-size: 11px !important;
    
    padding: 4px 0 5px !important;
    text-align: center !important;
    text-transform: uppercase !important;
    width: 78px !important;
	margin-top:0 !important; margin:0 auto;
}
.right_mim_con_btn:hover {
    color: #CCCCCC;
}
/*................style added..................*/
.bg_outer_about{ width:100%;/* background:url(../images/bg_outer.jpg) top center no-repeat;*/ position:relative; height:483px;}
.bg_outer_about img{ width:100%; height:100%;}
.social_cont1{ width:181px; position:absolute; left:16px; top:325px;}
.social_cont1 a img{ width:35px; height:32px;}
.about_wrap1{ width:100%; background:url(images/about_bg1.jpg) center top  no-repeat; min-height:700px; }
.content_ab{ width:100%; float:left; margin-top:-114px; background:url(images/ab_bg_iner.jpg) repeat-x #eaeae8;}
.content_ab h2{ font-size:18px; color:#fe680d; margin:23px 0 38px 17px; font-family: 'Roboto', 'sans-serif'; font-weight:bold;}
.content_ab h1{ font-size:24px; color:#fe680d; margin:23px 0 38px 17px; font-family: 'Roboto', 'sans-serif'; font-weight:bold;}
.content_ab p{ line-height:28px; margin:0px 0 0px 17px;}
.right_mim_con1{ width:306px; float:right; background:url(images/right_ab_f.jpg) no-repeat; padding-bottom:58px; padding-left:45px;}
.right_mim_con1 img{ float:left; margin-top:30px; margin-left:141px; margin-bottom:4px;  width:94px; height:88px;}
.right_mim_con1 h2{ font-size:16px; color:#000000; font-weight:normal; margin-left:107px; margin-bottom:15px; text-transform:
uppercase; font-family: 'MyriadProRegular'; margin-left:45px;}
.right_mim_con1 p{ font-size:13px; color:#7a7a7a; line-height:22px; margin-bottom:13px; margin-left:107px;}
.right_mim_con1 a{ width:78px; line-height:23px; height:23px; color:#fff; font-size:11px; margin-left:124px;  background:url(images/view_map.png) no-repeat; display:block; float:left; text-align:center; text-transform:uppercase;}
.right_mim_con a:hover{ color:#ccc;}
.right_mim_con_btn1{ width:78px; line-height:23px; height:23px; color:#fff; font-size:11px; margin-left:47px;  background:url(images/view_map.png) no-repeat; display:block; float:left; text-align:center; text-transform:uppercase; border:0; cursor:pointer;}
.right_mim_con_btn1:hover{ color:#ccc;}
.cur_sli1n{ width:100%; float:left; margin-top:0px; border-top:1px solid #d2d2d0; padding-top:44px;}
.latest_h{ background:url(images/latest_news.jpg) no-repeat; width:35px; height:142px; display:block;}
.latest_h:hover{ background:url(images/latest_news_hover.png) no-repeat; width:35px; height:142px; display:block;}
.contt_h{ background:url(images/contact_img.jpg) no-repeat; width:35px; height:142px; display:block; margin-bottom:7px;}
.contt_h:hover{ background:url(images/contact_img_hover.png) no-repeat; width:35px; height:142px; display:block;}
.latest_h{ background:url(images/latest_news.jpg) no-repeat; width:35px; height:142px; display:block;}
.latest_h:hover{ background:url(images/latest_news_hover.png) no-repeat; width:35px; height:142px; display:block;}
.contt_h{ background:url(images/contact_img.jpg) no-repeat; width:35px; height:142px; display:block; margin-bottom:7px;}
.contt_h:hover{ background:url(images/contact_img_hover.png) no-repeat; width:35px; height:142px; display:block;}
.gap_ab1{ margin-bottom:38px;}
.toggle_cat{ width:100%; float:left; margin:-18px 0 0 0 !important;}
.toggle_cat ul{display:none; padding:0 0 0 0; margin:12px 0 0 22px;}
.toggle_cat h2{color:#00467f !important; font-size:18px !important; font-weight:normal !important; padding-left:20px !important; font-family: 'Roboto', 'sans-serif' !important; line-height:52px !important; margin-bottom:0px !important; }
.toggle_cat ul li{ list-style-type:none; background:url(images/togle_list.png) left 7px no-repeat; padding-left:18px; padding-bottom:25px; }
.toggle_cat ul li a{ font-size:14px; color:#005c9b !important;}

.up{ background:url(images/togle_up.png) no-repeat !important;}
.down{ background:url(images/togle_down.png) no-repeat !important;}
.gap_news{ padding-top:20px;}
/*.............style added...........*/
.home_cont{ width:300px; float:left; margin-left:21px;}
span.wpcf7-not-valid-tip {
    color: #FF0000;
    display: block;
    font-size: 1em;
    margin-top: -18px !important;
}
.cont_cont{ float:left; width:636px; }
.cont_cont h2{ font-size:18px; color:#fe680d; margin-bottom:19px;}
.cont_cont h4{ font-size:13px; color:#ff0000; margin-bottom:-6px; text-align:right; float:right !important; margin-right:25px;}
.cont_f_cont{ float:left;}
.cont_f_cont label{ font-size:13px; color:#7d7d7d; margin-bottom:11px; padding-left:13px;}
.textfeild_contact1{ width:595px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; border-radius:0px !important; }
.textfeild_contact12{ width:214px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; border-radius:0px !important;  }
.textfeild_contact13{ width:160px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; border-radius:0px !important }
.textfeild_contact14{ width:183px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; border-radius:0px !important }
.dropdown_contact1{ width:595px !important; border:1px solid #acacac !important; height:28px !important; padding:4px 5px 5px 5px !important !important; margin-bottom:18px !important; border-radius:0px !important }
.textarea_contact1{ width:595px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; height:158px !important; border-radius:0px !important}
.textfeild_captcha{ width:254px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; float:left !important; margin-right:8px !important; border-radius:0px !important }
.textfeild_captcha_img{ width:111px !important; height:29px !important; border:1px soid #bdbdbd !important; background:url(images/captcha_bg.jpg) repeat !important;}
.right_cont_new{ width:311px; float:left;}
.rightcont_con1_new {
    
    float: right;
    padding-bottom: 58px;
    width: 354px;
}
.rightcont_con1 {
    background: url(images/right_contact.jpg) no-repeat scroll 0 0 transparent;
    float: right;
    padding-bottom: 37px;
    width: 354px;
}
.submit_contact_f{ width:147px !important; height:47px !important; line-height:47px !important; background:url(images/contact_form_btn.png) no-repeat !important; color:#fff !important; float:left !important; font-size:22px !important; margin-left:209px;}
.iner_content_contact1{ float:left; margin-left:31px;}
.iner_content_contact1 h2{ background:url(images/cont_miama_bg.jpg) no-repeat; color:#fff; font-size:16px; line-height:41px; font-family: 'Roboto', 'sans-serif' !important; width:287px !important; font-weight:normal; margin-left:0px !important; padding-left:20px; margin-bottom:6px !important; margin-top:10px !important;}
.iner_content_contact1 h3{ background:url(images/cont_miama_bg.png) no-repeat; color:#fff; font-size:16px; line-height:43px; font-family: 'Roboto', 'sans-serif' !important; width:287px !important; font-weight:normal; margin-left:0px !important; padding-left:20px; margin-bottom:6px !important;}
.iner_content_contact1 p{ font-size:13px; color:#000; line-height:25px;}
.map_cont{ width:307px; float:left; margin-left:35px; margin-top:16px;}
/*.........client.............*/
.right-sidebar {
    float: right;
    width: 343px;
}
.sidebar-page {
    margin-left: 21px;
}
.sidebar-page > * {
    margin-left: 17px;
}
.iner_wat p:first-child {
    margin: 0px 0px;
}
.left-content ul, .right-sidebar ul {
    list-style: none;
    line-height: 28px;
    margin: 0 0 38px 17px;
}
.left-content ul li, .right-sidebar ul li {
    margin-left: 3px;
    padding-left: 20px;
    background: url( "images/list_bullet.gif" ) no-repeat left 10px; font-size:16px;
}
.left-content h5{ font-family:17px;}
a {
    color: #FE680D;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.left-content {
    min-height: 500px;
}
.category-page, .sidebar-page {
    margin-bottom: 25px;
}

/* added to set CF7 textarea border and fill color */
.wpcf7 input, .wpcf7 textarea, .wpcf7 select {
	border: 1px solid #A0A0A0;
	border-radius:5px;
	padding: 4px 5px 5px 5px;
	background:#fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.wpcf7-form p {
	margin-bottom: 10px !important;
}
/* end of add */
.wpcf7-submit {
	background: #aaa !important;
	color: #fff;
	text-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.5 );
	text-transform: uppercase;
	cursor: pointer;
}
.left-content iframe {
	width: 100%;
	min-height: 300px;
}
.wpcf7-submit:hover{
	background: #999 !important;
}
/* end of alignment of input boxes */
.wpcf7 input[type=file] {
	margin-left: 20px;
}
.menu-footer .sub-menu {
	display: none;
}
.width-100 {
	width: 100% !important;
}

/*..............client.............*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
.social_cont1{ width:181px; position:absolute; left:10px; top:261px;}
.social_cont1 a img{ width:35px; height:32px;}


}
@media only screen and (min-width: 768px) and (max-width: 960px) {
.bg_outer{ width:100%;/* background:url(images/bg_outer.jpg) top center no-repeat;*/ position:relative; height:993px; display:none;}
.bg_outer2{ display:block; width:99%;  background:#318ef5;}
.mid_cont{ width:759px; margin:0 auto;}
.mid_cont1{ width:757px; margin:0 auto;}
.top_head{ width:100%; background:#ececeb; position:absolute; left:0; height:132px;}
.logo{ float:left; margin-left:10px; width:200px;}
.logo img{ width:100%;}
.clear{ clear:both;}
.right_head{ float:right; padding-top:34px; width:531px;}
.florida_cont{ float:left; margin-bottom:20px;}
.florida_cont h2{ color:#fe680d; font-size:14px; float:left; margin-right:13px; text-transform:uppercase; font-family: 'Conv_Futura_Medium_BT'; font-weight:normal !important; margin-left:8px;}
.florida_cont h3{ color:#fe680d; font-size:12px; background:#005c9b; padding-left:14px; color:#fff; text-transform:uppercase; font-family: 'Roboto', 'sans-serif'; float:left; line-height:27px; padding-right:10px; margin-right:0px;}
.florida_cont h3 span{ font-family: 'Roboto', 'sans-serif'; font-size:14px;}
.nav-area{
position:relative;
z-index:99;
 width:526px;  padding-top:0px; float:left; margin-right:0px; border-bottom:0px solid #f4f4f4; height:31px;
}
.nav-area ul li{
list-style:none; margin:0; background: url(images/border_nav.png) left 0px no-repeat; float:left; position:relative; padding:0 0px;
}
.nav-area ul li:first-child{ background:none; padding:0 0 0 0;}
.nav-area a {
  font-size:12px; color:#515151; font-family: 'Roboto', 'sans-serif';  text-transform:uppercase; height:37px; float:left; text-decoration:none;  padding:0 6px; display:block; font-weight:bold;
}
.nav-area li a:hover,.nav-area li.current-menu-item a{
color:#FE680D; 
}
.nav-area li {position: relative;}
.nav-area ul ul {
display:block;  position:absolute; top:61px; margin:0; padding:10px 0 0; width:206px; z-index:500;
}
.nav-area ul ul ul {
position: absolute;
top: 0;
left: 100%;
}
.nav-area ul ul {
display: none;
}
.nav-area ul ul li {
display:block; background:#dedee0 ;border-bottom:#d5d7dc 1px solid; list-style:none; margin:0; padding:0; width:206px;
}
.nav-area ul ul li:first-child{
background:#dedee0 ;
}
.nav-area ul ul li a,.nav-area ul ul li.current-menu-item a,.nav-area ul li.current-menu-item ul li a{
padding:0 20px;color:#606060; font-size:11px; font-weight:normal; float:left; line-height:26px;
}
.nav-area ul ul li:first-child a{
}
.nav-area ul ul li:first-child a:hover{
color:#6e7073;
}
.slider_wrap{ width:97%; padding:0 1%; position:absolute; top:120px; display:none;}
.slider_text{ margin-top:55px; width:554px;}
.slider_text h2{ color:#fff; font-size:26px; line-height:35px; font-family: 'Roboto', 'sans-serif'; margin-bottom:24px;}
.slider_text p{ color:#fff; font-size:17px; line-height:18px; font-family: 'Roboto', 'sans-serif'; text-transform:uppercase; margin-bottom:12px;}
.social_cont{ width:181px; position:relative; left:6px; top:0px; float:left; margin:10px 0;}
.miama_wrap{  width:1037px; background:url(images/shadow2.png) top  center no-repeat; position:relative;}
.slider_conmt{ width:100%; float:left; position:relative; margin-top:133px; /*height:471px;*/ }
.slider_conmt img{ width:100%;}
.slider_conmt_text{ width:556px; left:0; position:absolute; top:141px;}
.slider_conmt_text h2{ color:#fff; font-size:36px; line-height:48px; font-family: 'Roboto', 'sans-serif'; margin-bottom:24px;}
.slider_conmt_text p{ color:#fff; font-size:14px; line-height:18px; font-family: 'Roboto', 'sans-serif'; text-transform:uppercase; margin-bottom:12px;}
.slider_conmt a{ background:url(images/read_more.png) no-repeat; width:99px; height:31px; line-height:31px; color:#fff; text-align:center; text-transform:uppercase; display:block; font-size:11px; margin-bottom:10px;}
.miama_wrap{  width:100%; background:url(images/shadow2.png) top  center no-repeat; position:relative; top:0px;}
.miama_wrap{  width:100%; background:url(images/shadow2.png) top  center no-repeat; position:relative; top:0px;}
.left_mim{ float:left; width:241px; text-align:left; background:#fcfcfc; margin-bottom:10px; padding-bottom:10px; text-align:center }
.left_mim img{ float:none; margin-top:51px; margin-left:0px; margin-bottom:15px; width:39px; height:56px; text-align:center}
.left_mim h2{ font-size:16px; color:#000000; font-weight:normal;  margin-bottom:15px; text-transform:
uppercase; font-family: 'Roboto', 'sans-serif';  text-align:center }
.left_mim p{ font-size:13px; color:#7a7a7a; line-height:22px; margin-bottom:13px; margin-left:0px; text-align:center }
.left_mim a{ width:78px; line-height:23px; height:23px; color:#fff; font-size:11px; margin-left:29px; background:url(images/view_map.png) no-repeat; display:block;  text-align:center; text-transform:uppercase; text-align:center}
.left_mim a:hover{ color:#ccc;}
.mid_mim{ float:left; width:235px; background:none; background:#fcfcfc; margin-bottom:24px; padding-bottom:10px;}
.mid_mim img{ float:left; margin-top:51px; margin-left:0px; margin-bottom:15px;  width:39px; height:56px; text-align:center}
.mid_mim h2{ font-size:16px; color:#000000; font-weight:normal; margin-left:0px; margin-bottom:15px; text-transform:
uppercase; font-family: 'Roboto', 'sans-serif'; text-align:center}
.mid_mim p{ font-size:13px; color:#7a7a7a; line-height:22px; margin-bottom:13px; margin-left:0px; text-align:center}
.mid_mim a{ width:78px; line-height:23px; height:23px; color:#fff; font-size:11px; margin-left:40px; background:url(images/view_map.png) no-repeat; display:block; float:none; text-align:center; text-transform:uppercase;}
.mid_mim a:hover{ color:#ccc;}
.left_shadow{ float:left; width:16px; background:url(images/left_shadow.png) no-repeat; height:324px; margin-top:14px; display:none}
.right_shadow{ float:left; width:17px; background:url(images/right_shadow.png) no-repeat; height:324px; margin-top:14px; display:none;}
.mim_wrap{ width:100%; float:left; background:url(images/mim_bg.jpg) repeat-x #FCFCFC; margin-top:14px;}
.right_mim_con{ width:275px; float:left; background:#F8F8F8; padding-bottom:10px;}
.right_mim_con img{ float:left; margin-top:30px; margin-left:79px; margin-bottom:4px;  width:94px; height:88px;}
.right_mim_con h2{ font-size:16px; color:#000000; font-weight:normal; margin-left:31px; margin-bottom:15px; text-transform:
uppercase; font-family: 'Roboto', 'sans-serif';}
.right_mim_con p{ font-size:13px; color:#7a7a7a; line-height:22px; margin-bottom:13px; margin-left:10px;}
.right_mim_con_btn{ width:78px; line-height:23px; height:23px; color:#fff; font-size:11px; margin-left:30px;  background:url(images/view_map.png) no-repeat; display:block; float:left; text-align:center; text-transform:uppercase; border:0;}
.right_mim_con_btn:hover{ color:#ccc;}
.textfeild{ width:245px; height:31px; border:1px solid #fe680d; background:#fff; padding:0 10px; margin-bottom:13px; margin-left:5px; line-height:31px; color:#feb386; font-size:13px;}
.cur_sli{ width:100%; float:left; margin-top:36px;
}
.inersli{ width:712px; float:left; margin-top:23px}
.inersli img{ width:100%;}
.shadow4{ display:none;}
.metaslider .caption-wrap {
    background: none !important ;
    bottom: 600px !important;
    color: white;
    display: block;
    left: 18px  !important;
    line-height: 30px;
    margin: 0;
    opacity: 1 !important;
    position: absolute;
    width: 556px !important;
}
.flex-control-nav {
    bottom:267px  !important;
	z-index:9999;
    position: absolute;
    text-align: left !important;
    width: 566px !important;
	 left: 16px !important;
}
.flex-control-paging li a {
    background:url(images/dot.png) no-repeat !important;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
    cursor: pointer;
    display: block;
    height: 11px;
    text-indent: -9999px;
    width: 13px;
}
.flex-control-paging li a.flex-active {
      background:url(images/dot_active.png) no-repeat !important;
    cursor: default;
}
/*.flexslider img{ width:100% !important; height:100% !important;}*/
.flexslider img{ width:100% !important; height:100% !important;}
.slider_conmt_text p{ color:#fff; font-size:14px; line-height:18px; font-family: 'Roboto', 'sans-serif'; text-transform:uppercase; margin-bottom:12px; padding-bottom:10px !important;}
.masker {
    height: 84px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 543px;
}
.prev {
    background: url("images/left_arrow.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 29px;
    left: 2px;
    position: absolute;
    top: 26px;
    width: 18px;
    z-index: 0;
}
.next {
    background: url("images/right_arrow.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 29px;
    left: 681px;
    position: absolute;
    top: 26px;
    width: 18px;
    z-index: 0;
}
/*.............style added................*/
.social_cont1{ width:181px; position:absolute; left:10px; top:186px;}
.social_cont1 a img{ width:35px; height:32px;}
.toggle_cat h2{color:#00467f !important; font-size:18px !important; font-weight:normal !important; padding-left:20px !important; font-family: 'Roboto', 'sans-serif' !important; line-height:52px !important; margin-bottom:0px !important; }
.toggle_cat ul li{ list-style-type:none; background:url(images/togle_list.png) left 7px no-repeat; padding-left:18px; padding-bottom:25px; }
.toggle_cat ul li a{ font-size:14px; color:#005c9b !important;}

.up{ background:url(images/togle_up_1.png) no-repeat !important;}
.down{ background:url(images/togle_down_1.png) no-repeat !important;}
.home_cont{ width:100%; float:left; margin-left:0px;}
/*............style added............*/
.cont_cont{ float:left; width:401px; }
.cont_cont h2{ font-size:18px; color:#fe680d; margin-bottom:19px;}
.cont_cont h4{ font-size:13px; color:#ff0000; margin-bottom:-6px; text-align:right; float:right !important; margin-right:25px;}
.cont_f_cont{ float:left;}
.cont_f_cont label{ font-size:13px; color:#7d7d7d; margin-bottom:11px; padding-left:13px;}
.textfeild_contact1{ width:369px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; border-radius:0px !important; }
.textfeild_contact12{ width:214px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; border-radius:0px !important;  }
.textfeild_contact13{ width:160px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; border-radius:0px !important }
.textfeild_contact14{ width:183px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; border-radius:0px !important }
.dropdown_contact1{ width:369px !important; border:1px solid #acacac !important; height:28px !important; padding:4px 5px 5px 5px !important !important; margin-bottom:18px !important; border-radius:0px !important }
.textarea_contact1{ width:369px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; height:158px !important; border-radius:0px !important}
.textfeild_captcha{ width:254px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; float:left !important; margin-right:8px !important; border-radius:0px !important }
.textfeild_captcha_img{ width:111px !important; height:29px !important; border:1px soid #bdbdbd !important; background:url(images/captcha_bg.jpg) repeat !important;}
.right_cont_new{ width:311px; float:left;}
.rightcont_con1_new {
    
    float: right;
    padding-bottom: 58px;
    width: 300px; margin-right:10px;
}
.rightcont_con1 {
    background: none;
    float: left;
    padding-bottom: 37px;
    width: 354px;
}
.submit_contact_f{ width:147px !important; height:47px !important; line-height:47px !important; background:url(images/contact_form_btn.png) no-repeat !important; color:#fff !important; float:left !important; font-size:22px !important; margin-left:10px;}
.iner_content_contact1{ float:left; margin-left:5px;}
.iner_content_contact1 h2{ background:url(images/cont_miama_bg.jpg) no-repeat; color:#fff; font-size:16px; line-height:41px; font-family: 'Roboto', 'sans-serif' !important; width:273px !important; font-weight:normal; margin-left:0px !important; padding-left:20px; margin-bottom:6px !important; margin-top:10px !important;}
.iner_content_contact1 h3{ background:url(images/cont_miama_bg.png) no-repeat; color:#fff; font-size:16px; line-height:43px; font-family: 'Roboto', 'sans-serif' !important; width:274px !important; font-weight:normal; margin-left:0px !important; padding-left:20px; margin-bottom:6px !important;}
.iner_content_contact1 p{ font-size:13px; color:#000; line-height:25px;}
.map_cont{ width:307px; float:left; margin-left:5px; margin-top:16px;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.bg_outer2{ display:block; width:99%; background:none; background:#318ef5;}
.bg_outer{ width:100%;/* background:url(images/bg_outer.jpg) top center no-repeat;*/ position:relative; height:993px; display:none;}
.top_head{ width:100%;/*// float:left;*/ background: url(images/top_bg1.png) repeat-x; position:relative; left:0; height:auto; background:#f6f6f5;}
.social_cont{ width:181px; position:relative; float:left; top:0; margin-top:40px;}
.slider_wrap{ width:97%; padding:0 1%; position:absolute; top:215px; display:none;}
.slider_conmt{ width:100%; float:left; position:relative; margin-top:52px; }
.slider_conmt img{ width:100%;}
.slider_conmt_text{ width:80%; left:0; position:absolute; top:74px;}
.slider_conmt_text h2{ color:#fff; font-size:16px; line-height:23px; font-family: 'Roboto', 'sans-serif'; margin-bottom:24px;}
.slider_conmt_text p{ color:#fff; font-size:14px; line-height:18px; font-family: 'Roboto', 'sans-serif'; text-transform:uppercase; margin-bottom:12px;}
.slider_conmt h2{ color:#fff; font-size:16px; line-height:25px; font-family: 'Roboto', 'sans-serif'; margin-bottom:24px;}
.slider_conmt p{ color:#fff; font-size:14px; line-height:18px; font-family: 'Roboto', 'sans-serif'; text-transform:uppercase; margin-bottom:12px; padding-bottom:10px;}
.slider_conmt a{ background:url(images/read_more.png) no-repeat; width:99px; height:31px; line-height:31px; color:#fff; text-align:center; text-transform:uppercase; display:block; font-size:11px; margin-bottom:10px;}
.mid_cont{ width:474px; margin:0 auto;}
.top_head{ width:100%; float:left; background:#f6f6f5;}
.logo{ float:left; margin-left:92px;}
.clear{ clear:both;}
.right_head{ float:right; padding-top:30px; width:100%;}
.florida_cont{ float:right; margin-bottom:20px;}
.florida_cont h2{ color:#fe680d; font-size:16px; float:left; margin-right:13px; text-transform:uppercase; font-family: 'Roboto', 'sans-serif'; font-weight:normal !important;  margin-bottom:7px; margin-left:13px; margin-bottom:8px;}
.florida_cont h3{ color:#fe680d; font-size:16px; background:url(images/textbg.jpg) no-repeat; padding-left:14px; color:#fff; text-transform:uppercase; font-size:14px; font-family: 'Roboto', 'sans-serif'; float:left; line-height:27px; padding-right:72px; margin-right:0px;}
#menu-icon{
display:block;
text-align:left;
margin:0px 0;background:url(images/menu_bg.jpg) repeat-x; height:41px; width:100%; float:left;
}


#menu-icon span{
background:url(images/down-arrow.png) no-repeat right center;

text-align:center;
cursor:pointer;
height:35px;
margin:0;
padding:0 32px 6px 18px; float:left;
color: #737383; font-weight:bold; font-size:18px; text-transform:uppercase; line-height:46px; 
}

#menu-icon.up-arrow span{
background:url(images/up-arrow.png) no-repeat right center;
}

.nav-area{
    float: left;
    height: 100%;
    margin-left: 18px !important;
    width: 443px;
	margin-left:17px;
	display:none;
}

/*.nav-area ul li{float:none; line-height:25px; }*/
.nav-area ul li{float:left; line-height:25px; width:97%; margin-left:0px; border-top:1px solid #CAC4C4; background:none;}

.nav-area ul li:first-child{
padding-left:0;
background:none;
margin-left:0px; border-top:0px;
}

.nav-area a {float:none; line-height:30px; font-size:14px; color:#515151; padding-left:0;}

.nav-area li a:hover,.nav-area li.current-menu-item a{
color: #fff;
background:#005c9b; float:none; border:none;
}


.nav-area li {position: relative;}

.nav-area ul ul {
position: relative;
left:0;
top:0;
z-index: 500;
border:none;
margin:0; padding:0;
}


.nav-area ul ul ul {
position:relative;
top: 0;
left: 100%;
}

.nav-area ul ul {
display: block; background:#005c9b; width:100%; float:none; overflow:hidden;
}

.nav-area ul ul li { background:#005c9b; border-top:0px;border-bottom:#d5d7dc 0px solid; float:left; width:100%; padding:0;}

.nav-area ul ul li:first-child{
border-top:none;  background:#005c9b; margin-left:0px !important; border-bottom:#d5d7dc 0px solid; 
}
.nav-area ul ul li:first-child:hover{
border-top:none;  background:#fff;
}
.nav-area ul ul li a,.nav-area ul ul li.current-menu-item a,.nav-area ul li.current-menu-item ul li a{background:none; padding:0 20px 0 20px;  font-size:12px; color:#fff; background:url(images/menu_arrow.png) left 7px no-repeat; width:84%;}

.nav-area ul ul li:first-child a{

}
.nav-area ul ul li:first-child a:hover{
color:#000; background:#fff; width:84%; padding:0 20px 0 20px; background:url(images/menu_arrow_hover.png) left 11px no-repeat;
}

.nav-area ul ul li a:hover{
color:#000;
}

.nav-area ul ul,
.nav-area ul li:hover ul ul,
.nav-area ul ul li:hover ul ul
{display: block;}

.nav-area ul li:hover ul,
.nav-area ul ul li:hover ul,
.nav-area ul ul ul li:hover ul
{display: block;}
.nav-area ul li.homeimg{
list-style:none; margin:0; float:left; position:relative; background:url(../images/menu_bg.jpg) repeat-x ; padding-top:6px; width:480px; height:52px;}
.nav-container{ background:url(../../../images/header_bg2.jpg) left bottom repeat-x; width:100%; float:left; padding-bottom:19px;}
.miama_wrap{  width:100%; background:url(images/shadow2.png) top  center no-repeat; position:relative; top:0px;}
.miama_wrap{  width:100%; background:url(images/shadow2.png) top  center no-repeat; position:relative; top:0px;}
.left_mim{ float:left; width:99%; text-align:left; background:#fcfcfc; margin-bottom:10px; padding-bottom:10px; }
.left_mim img{ float:left; margin-top:51px; margin-left:203px; margin-bottom:15px; width:39px; height:56px;}
.left_mim h2{ font-size:16px; color:#000000; font-weight:normal;  margin-bottom:15px; text-transform:
uppercase; font-family: 'Roboto', 'sans-serif'; margin-left:171px; }
.left_mim p{ font-size:13px; color:#7a7a7a; line-height:22px; margin-bottom:13px; margin-left:167px; }
.left_mim a{ width:78px; line-height:23px; height:23px; color:#fff; font-size:11px; margin-left:184px; background:url(images/view_map.png) no-repeat; display:block; float:left; text-align:center; text-transform:uppercase;}
.left_mim a:hover{ color:#ccc;}
.mid_mim{ float:left; width:100%; background:none; background:#fcfcfc; margin-bottom:10px; padding-bottom:10px;}
.mid_mim img{  margin-top:51px; margin-left:0px; margin-bottom:15px;  width:39px; height:56px; text-align:center}
.mid_mim h2{ font-size:16px; color:#000000; font-weight:normal; margin-left:0px; margin-bottom:15px; text-transform:
uppercase; font-family: 'Roboto', 'sans-serif'; text-align:center}
.mid_mim p{ font-size:13px; color:#7a7a7a; line-height:22px; margin-bottom:13px; margin-left:0px; text-align:center}
.mid_mim a{ width:78px; line-height:23px; height:23px; color:#fff; font-size:11px; margin-left:179px; background:url(images/view_map.png) no-repeat; display:block; float:left; text-align:center; text-transform:uppercase;}
.mid_mim a:hover{ color:#ccc;}
.left_shadow{ float:left; width:16px; background:url(images/left_shadow.png) no-repeat; height:324px; margin-top:14px; display:none}
.right_shadow{ float:left; width:17px; background:url(images/right_shadow.png) no-repeat; height:324px; margin-top:14px; display:none;}
.mim_wrap{ width:100%; float:left; background:url(images/mim_bg.jpg) repeat-x; margin-top:14px;}
.right_mim_con{ width:100%; /*float:left;*/ background:#F8F8F8; padding-bottom:10px; text-align:center;}
.right_mim_con img{ /*float:left;*/ margin-top:30px; margin-left:0; margin-bottom:4px;  width:94px; height:88px; text-align:center; float:none}
.right_mim_con h2{ font-size:16px; color:#000000; font-weight:normal; margin-left:0; margin-bottom:15px; text-transform:
uppercase; font-family: 'Roboto', 'sans-serif'; text-align:center; float:none}
.right_mim_con p{ font-size:13px; color:#7a7a7a; line-height:22px; margin-bottom:13px; /*margin-left:107px;*/ text-align:center;}
.right_mim_con_btn{ width:78px; /*line-height:23px;*/ height:25px; color:#fff; font-size:11px; /*margin-left:124px;*/  background:url(images/view_map.png) no-repeat; display:block; /*float:left; */text-align:center; text-transform:uppercase; border:0; padding-top:5px; padding-bottom:6px; margin:0 auto; float:none;}
.right_mim_con_btn:hover{ color:#ccc;}
.textfeild{ width:245px; height:31px; border:1px solid #fe680d; background:#fff; padding:0 10px; margin-bottom:13px; margin-left:92px; line-height:31px; color:#feb386; font-size:13px; margin-left:0; float:none;  }
.cur_sli{ width:100%; float:left; margin-top:36px;
}
.inersli{ width:92%; float:left;}
.mid_cont1{ width:470px; margin:0 auto;}
.inersli img{ width:100%;}
.shadow4{ display:none;}
.foot_left{ float:left; width:100%; }
.footer_right{ width:196px; float:left; margin:20px 0px 0 0 ;}
.right_contant_new{ position:fixed; right:0; top:150px; width:35px; height:300px; z-index:9999; display:none;}
.metaslider .caption-wrap {
    background: none !important ;
    bottom: 400px !important;
    color: white;
    display: block;
    left: 18px  !important;
    line-height: 30px;
    margin: 0;
    opacity: 1 !important;
    position: absolute;
    width: 350px !important;
	border:0px solid red;
}
.flex-control-nav {
    bottom:130px  !important;
	z-index:9999;
    position: absolute;
    text-align: left !important;
    width: 400px !important;
	 left: 16px !important;
}
.flex-control-paging li a {
    background:url(images/dot.png) no-repeat !important;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
    cursor: pointer;
    display: block;
    height: 11px;
    text-indent: -9999px;
    width: 13px;
}
.flex-control-paging li a.flex-active {
      background:url(images/dot_active.png) no-repeat !important;
    cursor: default;
}
.flexslider img{ width:100% !important; height:100% !important;}
.masker {
    height: 84px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 369px;
}
.prev {
    background: url("images/left_arrow.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 29px;
    left: 2px;
    position: absolute;
    top: 26px;
    width: 18px;
    z-index: 0;
}
.next {
    background: url("images/right_arrow.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 29px;
    left: 414px;
    position: absolute;
    top: 26px;
    width: 18px;
    z-index: 0;
}
/*...............style added...............*/
.right_contant_new{ display:none;}

.social_cont1{ width:181px; position:absolute; left:10px; top:560px;}
.social_cont1 a img{ width:35px; height:32px;}
.gap1{ margin-left:108px; margin-right:0px; margin-bottom:20px;}
.gap2{margin-left:108px; margin-bottom:20px;}
.gap3{ margin-left:108px; margin-right:0px; margin-bottom:20px;}
.gap4{ margin-left:108px; margin-right:0px; margin-bottom:20px;}
.iner_wat p {
    color: #7A7A7A;
    font-size: 14px;
    line-height: 18px;
    margin-top: 18px;
    min-height: 0;
	margin-bottom:20px;
}
.iner_wat2 p {
    color: #7A7A7A;
    font-size: 14px;
    line-height: 18px;
    min-height: 0;
	margin-bottom:20px;
}
.footer_right {
    float: left;
    margin: 20px 0 0 51px;
    width: 196px;
}
.toggle_cat h2{color:#00467f !important; font-size:18px !important; font-weight:normal !important; padding-left:20px !important; font-family: 'Roboto', 'sans-serif' !important; line-height:52px !important; margin-bottom:0px !important; }
.toggle_cat ul li{ list-style-type:none; background:url(images/togle_list.png) left 7px no-repeat; padding-left:18px; padding-bottom:25px; }
.toggle_cat ul li a{ font-size:14px; color:#005c9b !important;}

.up{ background:url(images/togle_up_2.png) no-repeat !important;}
.down{ background:url(images/togle_down_2.png) no-repeat !important;}
.home_cont{ width:100%; float:left; margin-left:0px;}
/*............style added............*/
.cont_cont{ float:left; width:100%; }
.cont_cont h2{ font-size:18px; color:#fe680d; margin-bottom:19px;}
.cont_cont h4{ font-size:13px; color:#ff0000; margin-bottom:-6px; text-align:right; float:right !important; margin-right:25px;}
.cont_f_cont{ float:left;}
.cont_f_cont label{ font-size:13px; color:#7d7d7d; margin-bottom:11px; padding-left:13px;}
.textfeild_contact1{ width:378px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; border-radius:0px !important; }
.textfeild_contact12{ width:214px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; border-radius:0px !important;  }
.textfeild_contact13{ width:160px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; border-radius:0px !important }
.textfeild_contact14{ width:183px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; border-radius:0px !important }
.dropdown_contact1{ width:378px !important; border:1px solid #acacac !important; height:28px !important; padding:4px 5px 5px 5px !important !important; margin-bottom:18px !important; border-radius:0px !important }
.textarea_contact1{ width:378px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; height:158px !important; border-radius:0px !important}
.textfeild_captcha{ width:254px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; float:left !important; margin-right:8px !important; border-radius:0px !important }
.textfeild_captcha_img{ width:111px !important; height:29px !important; border:1px soid #bdbdbd !important; background:url(images/captcha_bg.jpg) repeat !important;}
.right_cont_new{ width:311px; float:left;}
.rightcont_con1_new {
    
    float: left;
    padding-bottom: 58px;
    width: 300px;
}
.rightcont_con1 {
    background: none;
    float: left;
    padding-bottom: 37px;
    width: 354px;
}
.submit_contact_f{ width:147px !important; height:47px !important; line-height:47px !important; background:url(images/contact_form_btn.png) no-repeat !important; color:#fff !important; float:left !important; font-size:22px !important; margin-left:10px;}
.iner_content_contact1{ float:left; margin-left:5px;}
.iner_content_contact1 h2{ background:url(images/cont_miama_bg.jpg) no-repeat; color:#fff; font-size:16px; line-height:41px; font-family: 'Roboto', 'sans-serif' !important; width:273px !important; font-weight:normal; margin-left:0px !important; padding-left:20px; margin-bottom:6px !important; margin-top:10px !important;}
.iner_content_contact1 h3{ background:url(images/cont_miama_bg.png) no-repeat; color:#fff; font-size:16px; line-height:43px; font-family: 'Roboto', 'sans-serif' !important; width:274px !important; font-weight:normal; margin-left:0px !important; padding-left:20px; margin-bottom:6px !important;}
.iner_content_contact1 p{ font-size:13px; color:#000; line-height:25px;}
.map_cont{ width:307px; float:left; margin-left:5px; margin-top:16px;}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
.bg_outer2{ display:block; width:99%;  background:#318ef5;}
.bg_outer{ width:100%;/* background:url(images/bg_outer.jpg) top center no-repeat;*/ position:relative; height:993px; display:none;}
.top_head{ width:100%;/*// float:left;*/ background: url(images/top_bg1.png) repeat-x; position:relative; float:left; height:auto; background:#f6f6f5; left:0;}
.mid_cont{ width:317px; margin:0 auto; display: block !important}
.social_cont{ width:181px; position:relative; float:left; top:0px; margin-top:-41px; z-index:9;}
.slider_wrap{ width:97%; padding:0 1%; position:absolute; top:215px; display:none;}
.slider_conmt{ width:100%; float:left; position:relative; margin-top:52px; }
.slider_conmt img{ width:100%;}
.slider_conmt_text{ width:60%; left:0; position:absolute;}
.slider_conmt_text h2{ color:#fff; font-size:16px; line-height:23px; font-family: 'Roboto', 'sans-serif'; margin-bottom:24px;}
.slider_conmt_text p{ color:#fff; font-size:14px; line-height:18px; font-family: 'Roboto', 'sans-serif'; text-transform:uppercase; margin-bottom:12px; padding-bottom:10px !important;}
.slider_conmt_text a{ background:url(images/read_more.png) no-repeat; width:99px; height:31px; line-height:31px; color:#fff; text-align:center; text-transform:uppercase; display:block; font-size:11px; margin-bottom:10px;}
.logo{ float:left; margin-left:10px;}
.clear{ clear:both;}
.right_head{ float:right; padding-top:30px; width:100%;}
.florida_cont{ float:right; margin-bottom:20px;}
.florida_cont h2{ color:#fe680d; font-size:16px; float:left; margin-right:0; text-transform:uppercase; font-family: 'Roboto', 'sans-serif'; font-weight:normal !important; margin-left:14px; margin-bottom:7px;}
.florida_cont h3{ color:#fe680d; font-size:16px; background:url(images/textbg.jpg) no-repeat; padding-left:14px; color:#fff; text-transform:uppercase; font-size:14px; font-family: 'Roboto', 'sans-serif'; float:left; line-height:27px; padding-right:37px; margin-right:0px;}
#menu-icon{
display:block;
text-align:center;
margin:0px 0;background:url(images/menu_bg.jpg) repeat-x; height:67px; float:left;
}


#menu-icon span{
background:url(images/down-arrow.png) no-repeat right center;

text-align:center;
cursor:pointer;
height:21px;
margin:0;
padding:0 27px 32px 3px;
color: #737383; font-weight:bold; font-size:16px; text-transform:uppercase; line-height:55px; font-family: 'PT Sans', sans-serif; width:95%; float:left;
}

#menu-icon.up-arrow span{
background:url(images/up-arrow.png) no-repeat right center;
}
.header_nav_container{  width:100%; float:left; padding-bottom:19px; }
/*.nav-area{ width:92%; margin-left:4px; float:left; display:none; position:relative;z-index:99;  }*/
.nav-area{ width:100%; /*margin-left:4px;*/ float:left; display:none; position:relative; z-index:9999;  }
.nav-area ul{ padding:0; /*margin:0 0 0 20px;*/ /*width:92%;*/ width:100%; float:left; background:#F6F6F5;}
.nav-area ul li{ display:block; float:left; padding-left:2%; border-top:1px solid #cac4c4; width:95%; line-height:30px;}
.nav-area ul li:first-child{ border-top:none;}
.nav-area ul li a{ font-size:14px; color:#515151;}
.nav-area ul li a:hover{ color:#a1a1a3; background:#005c9b;}
.nav-area li a:hover,.nav-area li.current-menu-item a{
color: #a1a1a3;
background:#005c9b; float:none;
}


.nav-area li {position: relative;}

.nav-area ul ul {
position: relative;
left:0;
top:0;
z-index: 500;
border:none;
margin:0; padding:0; background:#005c9b;
}


.nav-area ul ul ul {
position:relative;
top: 0;
left: 100%; background:#005c9b;
}

.nav-area ul ul {
display: block; background:#005c9b; width:100%; float:none; overflow:hidden;
}

.nav-area ul ul li {background:none ; border-top:0px;border-bottom:#005c9b 0px solid; float:left; width:100%;  padding:0 0px 0 0%;  }

.nav-area ul ul li:first-child{
border-top:none; background:#005c9b; color:#fff; 
}

.nav-area ul ul li a,.nav-area ul ul li.current-menu-item a,.nav-area ul li.current-menu-item ul li a{background:none; font-size:12px; color:#fff; text-transform:none; border:none; width:90%; background:url(images/menu_arrow.png) left 8px no-repeat;  }

.nav-area ul ul li:first-child a{
font-size:12px; color:#fff; text-transform:none;  
}
.nav-area ul ul li:first-child a:hover{
color:#000;  font-size:12px; 
}
.nav-area ul ul li:hover{
color:#000;  font-size:12px; background:#fff; 
}
.nav-area ul ul li a:hover{
color:#000;  font-size:12px;   background:url(images/menu_arrow_hover.png) left 11px no-repeat;
}

.nav-area ul ul,
.nav-area ul li:hover ul ul,
.nav-area ul ul li:hover ul ul
{display: block; border-bottom:0px;}

.nav-area ul li:hover ul,
.nav-area ul ul li:hover ul,
.nav-area ul ul ul li:hover ul
{display: block;}

.miama_wrap{  width:100%; background:url(images/shadow2.png) top  center no-repeat; position:relative; top:0px;}
.left_mim{ float:left; width:99%; text-align:left; background:#fcfcfc; margin-bottom:10px; padding-bottom:10px; text-align:center }
.left_mim img{  margin-top:51px; margin-left:0px; margin-bottom:15px; width:39px; height:56px; text-align:center}
.left_mim h2{ font-size:16px; color:#000000; font-weight:normal; margin-left:0px; margin-bottom:15px; text-transform:
uppercase; font-family: 'Roboto', 'sans-serif'; margin-left:0px; text-align:center }
.left_mim p{ font-size:13px; color:#7a7a7a; line-height:22px; margin-bottom:13px; margin-left:0px; text-align:center; }
.left_mim a{ width:78px; line-height:23px; height:23px; color:#fff; font-size:11px;  background:url(images/view_map.png) no-repeat; display:block;  text-align:center; text-transform:uppercase; float:none;}
.left_mim a:hover{ color:#ccc;}
.mid_mim{ float:left; width:100%; background:none; background:#fcfcfc; margin-bottom:10px; padding-bottom:10px; text-align:center}
.mid_mim img{  margin-top:51px; margin-left:0px; margin-bottom:15px;  width:39px; height:56px; text-align:center}
.mid_mim h2{ font-size:16px; color:#000000; font-weight:normal; margin-left:0px; margin-bottom:15px; text-transform:
uppercase; font-family: 'Roboto', 'sans-serif'; text-align:center}
.mid_mim p{ font-size:13px; color:#7a7a7a; line-height:22px; margin-bottom:13px; margin-left:0px; text-align:center}
.mid_mim a{ width:78px; line-height:23px; height:23px; color:#fff; font-size:11px; /*margin-left:0px;*/ background:url(images/view_map.png) no-repeat; display:block; text-align:center; text-transform:uppercase;}
.mid_mim a:hover{ color:#ccc;}
.left_shadow{ float:left; width:16px; background:url(images/left_shadow.png) no-repeat; height:324px; margin-top:14px; display:none}
.right_shadow{ float:left; width:17px; background:url(images/right_shadow.png) no-repeat; height:324px; margin-top:14px; display:none;}
.mim_wrap{ width:100%; float:left; background:url(images/mim_bg.jpg) repeat-x; margin-top:14px;}
.right_mim_con{ width:100%; float:left; background:#F8F8F8; padding-bottom:10px; text-align:center; padding-left:0px;}
.right_mim_con img{  margin-top:30px; margin-bottom:4px;  width:94px; height:88px; text-align:center; margin-left:0; float:none;}
.right_mim_con h2{ font-size:16px; color:#000000; font-weight:normal; margin-bottom:15px; text-transform:
uppercase; font-family: 'Roboto', 'sans-serif'; text-align:center; margin-left:0;}
.right_mim_con p{ font-size:13px; color:#7a7a7a; line-height:22px; margin-bottom:13px;  text-align:center; margin-left:0;}
.right_mim_con_btn{ width:78px; line-height:23px; height:22px; color:#fff; font-size:11px;  background:url(images/view_map.png) no-repeat; display:block; margin:0 auto;  text-align:center; text-transform:uppercase; border:0;float:none; padding-top:0px; padding-bottom:4px;}
.right_mim_con_btn:hover{ color:#ccc;}
.textfeild{ width:245px; height:31px; border:1px solid #fe680d; background:#fff; padding:0 10px; margin-bottom:13px; margin-left:0px; line-height:31px; color:#feb386; font-size:13px;}
.cur_sli{ width:100%; float:left; margin-top:36px;
}
.inersli{ width:88%; float:left;}
.inersli img{ width:100%;}
.mid_cont1{ width:310px; margin:0 auto; display: block !important}
.shadow4{ display:none;}
.foot_left{ float:left; width:100%; }
.footer_right{ width:196px; float:left; margin:20px 0px 0 0 ;}
.right_contant_new{ position:fixed; right:0; top:150px; width:35px; height:300px; z-index:9999; display:none;}
.metaslider .caption-wrap {
    background: none !important ;
    bottom: 241px !important;
    color: white;
    display: block;
    left: 18px  !important;
    line-height: 30px;
    margin: 0;
    opacity: 1 !important;
    position: absolute;
    width: 267px !important;
}
.flex-control-nav {
    bottom:22px  !important;
	z-index:9999;
    position: absolute;
    text-align: left !important;
    width: 95% !important;
	 left: 0px !important;
}
.flex-control-paging li a {
    background:url(images/dot.png) no-repeat !important;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
    cursor: pointer;
    display: block;
    height: 11px;
    text-indent: -9999px;
    width: 13px;
}
.flex-control-paging li a.flex-active {
      background:url(images/dot_active.png) no-repeat !important;
    cursor: default;
}
.flexslider{ width:100% !important;}
.flexslider img{ width:100% !important; height:100% !important;}
.masker {
    height: 84px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 182px;
}
.prev {
    background: url("images/left_arrow.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 29px;
    left: 2px;
    position: absolute;
    top: 26px;
    width: 18px;
    z-index: 0;
}
.next {
    background: url("images/right_arrow.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 29px;
    left: 255px;
    position: absolute;
    top: 26px;
    width: 18px;
    z-index: 0;
}
/*..............style added..............*/
.bg_outer_about{ width:99%;/* background:url(../images/bg_outer.jpg) top center no-repeat;*/ position:relative;}
.bg_outer_about img{ width:100%;}
.social_cont1{ width:181px; position:absolute; left:10px; top:515px;}
.social_cont1 a img{ width:35px; height:32px;}

.hoverE{ position:relative;}

.right-sidebar {
    float: right;
    width: 343px;
}

.sidebar-page {
    margin-left: 21px;
}
.sidebar-page > * {
    margin-left: 17px;
}
.iner_wat p:first-child {
    margin: 0px 0px;
}
.left-content ul, .right-sidebar ul {
    list-style: none;
    line-height: 28px;
    margin: 0 0 38px 17px;
}
.left-content ul li, .right-sidebar ul li {
    margin-left: 3px;
    padding-left: 20px;
    background: url( "images/list_bullet.gif" ) no-repeat center left;
}
a {
    color: #FE680D;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.left-content {
    min-height: 500px;
}
.category-page, .sidebar-page {
    margin-bottom: 25px;
}

/* added to set CF7 textarea border and fill color */
.wpcf7 input, .wpcf7 textarea, .wpcf7 select {
	border: 1px solid #A0A0A0;
	border-radius:5px;
	padding: 5px;
	background:#fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.wpcf7-form p {
	margin-bottom: 10px !important;
}
/* end of add */
.wpcf7-submit {
	background: #aaa !important;
	color: #fff;
	text-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.5 );
	text-transform: uppercase;
	cursor: pointer;
}
.left-content iframe {
	width: 100%;
	min-height: 300px;
}
.wpcf7-submit:hover{
	background: #999 !important;
}
/* end of alignment of input boxes */
.wpcf7 input[type=file] {
	margin-left: 20px;
}

.iner_wat p {
    color: #7A7A7A;
    font-size: 14px;
    line-height: 18px;
    margin-top: 18px;
    min-height: 0;
	margin-bottom:20px;
}
.iner_wat2 p {
    color: #7A7A7A;
    font-size: 14px;
    line-height: 18px;
    min-height: 0;
	margin-bottom:20px;
}
.gap1{ margin-left:34px; margin-right:0px; margin-bottom:10px;}
.gap2{margin-left:34px; margin-bottom:10px;}
.gap3{ margin-left:34px; margin-right:0px; margin-bottom:10px;}
.gap4{ margin-left:34px; margin-right:0px; margin-bottom:10px;}
.footer_right {
    border: 0px solid red;
    float: left;
    margin: 20px 0 0;
    width: 164px;
}
.toggle_cat h2{color:#00467f !important; font-size:18px !important; font-weight:normal !important; padding-left:10px !important; font-family: 'Roboto', 'sans-serif' !important; line-height:52px !important; margin-bottom:0px !important; width:260px; }
.toggle_cat ul li{ list-style-type:none; background:url(images/togle_list.png) left 7px no-repeat; padding-left:18px; padding-bottom:25px; }
.toggle_cat ul li a{ font-size:14px; color:#005c9b !important;}

.up{ background:url(images/togle_up_3.png) no-repeat !important; width:260px !important;}
.down{ background:url(images/togle_down_3.png) no-repeat !important; width:260px !important;}
.home_cont{ width:100%; float:left; margin-left:0px;}
/*...........style added............*/
.cont_cont{ float:left; width:100%; }
.cont_cont h2{ font-size:18px; color:#fe680d; margin-bottom:19px;}
.cont_cont h4{ font-size:13px; color:#ff0000; margin-bottom:-6px; text-align:right; float:right !important; margin-right:25px;}
.cont_f_cont{ float:left;}
.cont_f_cont label{ font-size:13px; color:#7d7d7d; margin-bottom:11px; padding-left:13px;}
.textfeild_contact1{ width:278px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; border-radius:0px !important; }
.textfeild_contact12{ width:214px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; border-radius:0px !important;  }
.textfeild_contact13{ width:160px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; border-radius:0px !important }
.textfeild_contact14{ width:183px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; border-radius:0px !important }
.dropdown_contact1{ width:278px !important; border:1px solid #acacac !important; height:28px !important; padding:4px 5px 5px 5px !important !important; margin-bottom:18px !important; border-radius:0px !important }
.textarea_contact1{ width:278px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; height:158px !important; border-radius:0px !important}
.textfeild_captcha{ width:254px !important; border:1px solid #acacac !important; height:28px !important; padding:0 5px !important; margin-bottom:18px !important; float:left !important; margin-right:8px !important; border-radius:0px !important }
.textfeild_captcha_img{ width:111px !important; height:29px !important; border:1px soid #bdbdbd !important; background:url(images/captcha_bg.jpg) repeat !important;}
.right_cont_new{ width:311px; float:left;}
.rightcont_con1_new {
    
    float: left;
    padding-bottom: 58px;
    width: 300px;
}
.rightcont_con1 {
    background: none;
    float: left;
    padding-bottom: 37px;
    width: 354px;
}
.submit_contact_f{ width:147px !important; height:47px !important; line-height:47px !important; background:url(images/contact_form_btn.png) no-repeat !important; color:#fff !important; float:left !important; font-size:22px !important; margin-left:10px;}
.iner_content_contact1{ float:left; margin-left:5px;}
.iner_content_contact1 h2{ background:url(images/cont_miama_bg.jpg) no-repeat; color:#fff; font-size:16px; line-height:41px; font-family: 'Roboto', 'sans-serif' !important; width:273px !important; font-weight:normal; margin-left:0px !important; padding-left:20px; margin-bottom:6px !important; margin-top:10px !important;}
.iner_content_contact1 h3{ background:url(images/cont_miama_bg.png) no-repeat; color:#fff; font-size:16px; line-height:43px; font-family: 'Roboto', 'sans-serif' !important; width:274px !important; font-weight:normal; margin-left:0px !important; padding-left:20px; margin-bottom:6px !important;}
.iner_content_contact1 p{ font-size:13px; color:#000; line-height:25px;}
.map_cont{ width:307px; float:left; margin-left:5px; margin-top:16px;}
}




/* P54 */

